.loc-title {
    font-size: var(--font-selection);
    font-family: var(--font-family);
    font-weight: bold;
    margin-bottom: 10px;
}

.loc-buttons {
    display: flex;
    gap: 10px; 
}

.loc-buttons button {
    width: var(--button-width);
    padding: 10px 20px;
    font-size: var(--font-button);
    font-family: var(--font-family);
    border: none;
    border-radius: 5px;
    border-style: solid;
    border-color: #000;
    border-width: thin;
    cursor: pointer;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.loc-buttons button:hover {
    background-color: var(--primary-color);
}

.loc-buttons button.active {
    background-color: var(--primary-color);
    color: #000;
}

@media (max-width: 768px) {
    .loc-buttons {

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .loc-title {
        margin-top: 20px;
        font-size: calc(var(--font-selection) - 2px);
    }

    .loc-buttons button {
        padding: 8px 16px;
        font-size: calc(var(--font-button) - 2px);
        width: auto;
        flex: 1;
    }
}

@media (max-width: 480px) {
    .loc-buttons {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 5px;
    }

    .loc-title {
        margin-top: 15px;
        font-size: calc(var(--font-selection) - 4px);
    }

    .loc-buttons button {
        padding: 6px 12px;
        font-size: calc(var(--font-button) - 4px);
        width: auto;
        flex: 1;
        min-width: 120px;
    }
}