@import '/src/variables.css';

.header {
    width: 100%;
    text-align: center;
    position: relative;
    margin-bottom: 20px;
}


.header-rectangle {
    width: 100%;
    height: 52px;
    background-color: var(--secondary-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header-title {
    font-family: var(--font-family);
    font-size: 2rem;
    font-weight: bold;
    margin-top: 80px;
    color: #131313;
}

.header-line {
    width: 90%;
    height: 1px;
    background-color: #969696;
    margin: 0 auto;
    padding: 0;
}

.login-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    background-color: white !important;
    color: var(--secondary-color) !important;
    border: none;
    padding: 6px 20px;
    font-family: var(--font-family);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 0.9rem;
    height: 32px;
    width: 100px !important;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}

.login-button:hover {
    background-color: #e5e5e5 !important;
}

@media (max-width: 768px) {
    .header-rectangle {
        height: 50px;
    }

    .header-title {
        font-size: 1.5rem;
        margin-top: 70px;
    }
}

@media (max-width: 480px) {
    .header-rectangle {
        height: 40px;
    }

    .header-title {
        font-size: 1.2rem;
        margin-top: 60px;
    }
}